:root {
	font-family: Inter, sans-serif;
	font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
	:root { font-family: InterVariable, sans-serif; }
}

:root {
	--accent: #d7474b;
	--text: #545464;
	--background: #f2ecbc;
	--url-unvisited: #73A7BC;
	--url-visited: #624c83;
}

@media (prefers-color-scheme: dark) {
	:root {
		--accent: #E46876;
		--text: #acaeac;
		--background: #181616;
		--url-unvisited: #72A7BC;
		--url-visited: #938AA9;
	}
}

a:link{
	color:var(--url-unvisited);
}

a:visited {
	color: var(--url-visited);
}  

body {
	background-color: var(--background);
	color: var(--text);

	margin: auto;
	padding: 20px;
	max-width: 800px;
	line-height: 1.5;
	font-size: medium;
}

@media (max-width: 230px) {
	body {
		padding: 0;
	}
}

h1, h2, h3, h4, h5, h6, span, .highlightHover {
	transition: background-color 0.1s ease;
}

h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover, span:hover, .highlightHover:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

a {
	text-decoration-line: none;
}