@font-face {
	font-family: "Inter";
	src: url("/fonts/inter-variable.woff2");
	font-weight: 100 900;
	font-display: swap;
}

:root {
	font-family: Inter, sans-serif;
	font-feature-settings:
		"liga" 1,
		"calt" 1; /* fix for Chrome */
}

@font-face {
	font-family: "Departure Mono";
	src: url("/fonts/departure-mono.woff2");
	font-display: swap;
}

:root {
	color-scheme: light dark;
	accent-color: var(--accent);
	--accent: #d27e99;
	--text: #dcd7ba;
	--background: #1f1f28;
	--url-unvisited: #7e9cd8;
	--url-visited: #957fb8;
}

@media (prefers-color-scheme: dark) {
	:root {
		--text: #acaeac;
		--background: #181616;
		--url-unvisited: #72a7bc;
		--url-visited: #938aa9;
	}
}

a:link {
	color: var(--url-unvisited);
}

a:visited {
	color: var(--url-visited);
}

body {
	background-color: var(--background);
	color: var(--text);

	margin: auto;
	padding: 20px;
	max-width: 800px;
	line-height: 1.5;
	font-size: medium;
}

@media (max-width: 230px) {
	body {
		padding: 0;
	}
}

:is(header, h1, h2, h3, h4, h5, h6, .highlightHover) {
	font-family: "Departure Mono", monospace;
	:not(.noHighlightHover) {
		transition: background-color 0.1s ease;
	}
}

:is(header, h1, h2, h3, h4, h5, h6, .highlightHover):hover {
	:not(.noHighlightHover) {
		background-color: oklch(1 0 0 / 10%);
	}
}

a {
	text-decoration-line: none;
}
