---
import Page from "../layouts/Page.astro"
import Card from "../components/Card.astro"
---

<style is:global>
	.card-container {
	  display: flex;
	  flex-wrap: wrap;
	  gap: 10px;
	  padding: 10px;
	  box-sizing: border-box;
	}
  
	.card-container > * {
	  flex: 1 1 300px;
	  max-width: 100%;
	}
</style>

<Page
	description="sysadmin, software engineer, privacy advocate and caffeine addict"
	bodyClass="h-card"
>
	Pronouns: <span class="u-pronoun" style="white-space:pre">
		<span class="p-x-pronoun-nominative">she</span>/<span class="p-x-pronoun-oblique">her</span> | <a
			target="_blank"
			class="u-url highlightHover"
			href="https://en.wikipedia.org/wiki/Transgender#Transfeminine">🏳️‍⚧️</a
		>
	</span>
	<h1 style="font-family:monospace;">HELLO!</h1>
	<p class="p-note">
		I am a sysadmin, software engineer, privacy advocate and <s>possible</s> caffeine addict...
	</p>
	<p>I love everything I do but here's a non-exhaustive list of some of my favourites:</p>
	<div class="card-container">
		<Card
			title="Intensity"
			description="Post-quantum end-to-end-encrypted chat server, and client."
			href="https://github.com/port22exposed/intensity"
		/>
		<Card
			title="Port 443"
			description="Semi-public Discord server for practically anyone."
			href="https://discord.gg/qH3EMgA4aS"
		/>
	</div>
	<br />
</Page>
