---
import Page from "../layouts/Page.astro"

const description = `("programmer" | "gamer" | "FOSS contributor" | "aesthetic lover" | "person")`
---

<Page description={description} bodyClass="h-card">
	<p class="p-note" style="text-align:center">
		I am a {description}
	</p>
</Page>
