<footer style="text-align:center;">
	<b>THE END</b>
	<br /><br />
	Built with <a target="_blank" class="u-url" href="https://astro.build">Astro</a>
	<br /><br />
	Powered by <a target="_blank" class="u-url" href="https://pages.cloudflare.com"
		>Cloudflare Pages</a
	>
</footer>
