<style is:global>
	.u-uid {
		text-align: center;
		display: block;
		font-size: 27.5px;
		text-decoration: none;
	}
</style>

<nav>
    <a href="/" class="u-url u-uid" rel="author">
        <b><span class="p-name">port</span></b>22.exposed
    </a>
</nav>