<style is:global>
	.u-uid {
		text-align: center;
		display: block;
		font-size: 27.5px;
		text-decoration: none;
	}
</style>

<nav>
    <a href="/" class="u-url u-uid" rel="author">
        <span class="p-name"><b>port</b>22.exposed</span>
    </a>
</nav>