---
import { siDiscord, siGithub, siCodeberg, siTelegram, siBluesky } from "simple-icons"

import Social from "./Social.astro"
---

<style>
	nav {
		display: flex;
		flex-flow: wrap;
		align-items: center;
		gap: 1ch;
	}
	.u-uid {
		font-size: 28.5px;
		text-decoration: none;
		flex-grow: 1;
		margin: 0.5em 0px;
	}
</style>

<nav>
	<a href="/" class="u-url u-uid" rel="author">
		<b><span class="p-name">port</span></b>22.exposed
	</a>
	<Social href="https://github.com/port22exposed" icon={siGithub} />
	<Social href="https://codeberg.org/port22exposed" icon={siCodeberg} />
	<Social href="https://discord.com/users/1318383159645311009" icon={siDiscord} />
	<Social href="https://bsky.app/profile/did:plc:h2cmpplk6gsgo7awtoxygfro" icon={siBluesky} />
</nav>
