---
import type { SimpleIcon } from "simple-icons"

interface Props {
    href: string
	icon: SimpleIcon
    hex?: string
}

const hex = Astro.props.hex || Astro.props.icon.hex
---

<style is:global>
	svg.simple-icon-label {
		vertical-align: middle;
		width: 24px;
		height: 24px;
	}
</style>

<a target="_blank" class="u-url" href={Astro.props.href}>
    <Fragment
        set:html={Astro.props.icon.svg.replace(
            `role="img"`,
            `role="img" height="24px" width="24px" style="vertical-align:middle" class="simple-icon-label" fill="#${Astro.props.hex || Astro.props.icon.hex}"`
        )}
    />{" "}{Astro.props.icon.title}
</a>